<script src="javascripts/sort.js"></script>
<div class="row">
    <div class="col text-center">
        <h1 class="text-center">Users List</h1>
    </div>
</div>
<div class="row">
    <div class="col mb-2">
        <button class="btn btn-primary" id="id_addUserBtn"><i class="fas fa-user-plus"></i> Add New User</button>
        <button class="btn btn-outline-primary mr-2" id="id_exportBtn"><i class="fas fa-file-download"></i> Export Users List</button>
    </div>
</div>
<div class="row bg-white rounded shadow-lg">
    <table class="table table-striped">
        <thead class="thead">
        <tr>
            <th class="sortable">User name</th>
            <th class="sortable">Email</th>
            <th>Operation</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each this}}
        <tr idUser="{{idUser}}">
            <td>{{Name}} {{Surname}}</td>
            <td>
                <a href="mailto:{{Mail}}">{{Mail}}</a>
            </td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary modifyUserBtn"><i class="fas fa-pen"></i></button>
                    <button type="button" class="btn btn-danger removeUserBtn"><i class="fas fa-trash-alt"></i></button>
                </div>
            </td>
            <td><button type="button" class="btn btn-primary loginAsStandardBtn"><i class="fas fa-sign-in-alt"></i> Login</button>
           <button type="button" class="btn btn-danger resetUserPwBtn"><i class="fas fa-unlock-alt"></i> Reset Password</button></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>

